# Python stuff
__pycache__/
*.pyc
*.pyo
*.pyd


# Virtual environment
venv/
env/

# IDE settings
.vscode/
.idea/
# .venv_for_biometrics/
venv_for_biometrics/
known_faces/


# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local configs
*.env
.env/

# Data files
*.pickle
encodings.pickle

